@import "../../Utils/variables";

.blockchain {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  overflow-x: auto;
  flex-direction: row;
}

.arrows {
  height: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items:center;
  width: 80px;
}

.blockContainer {
  display: inline-block;
  height: 100%;
}

.block {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  height: calc(100% - 2px);
}

.block>div {
  padding: 5px;
  border-bottom: 1px solid white;
}

.block div:last-child {
  border: none;
}

.block .transactions {
  display: flex;
  padding: 0;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.block .transactions .transactionList {
  padding: 0;
  border: none;
  width: 600px;
  height: calc(100% - 20px);
  flex: 1;
}

.block .transactionTable .id, .block .transactionTable .from, .block .transactionTable .to, .block .transactionTable .amount {
  width: 50px;
}

.block .upperListContainer {
  width: 100%;
}

.block .blockDescription {
  padding: 0;
  width: 100%;
  text-align: right;
  color: #cbcbcb;
  font-size: 12px;
  bottom: 0;
}

.block .blockSmallText {
  overflow-wrap: break-word;
  font-size: 13px;
}

.block .confirmContainer {
  text-align: center;
}

.block .confirmButton {
  background-color: #973c0c;
  border-radius: 2px;
  padding: 10px 50px;
  color: white;
  display: inline-block;
  cursor: pointer;
  user-select: none;

  transition: background-color 0.2s;

  &:hover {
    background-color: #ad510f;
  }
}

.block .confirmedString {
  color: #38bb38;
  font-weight: bold;
}