@import "../../Utils/variables";

.blockchain {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  overflow: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.arrows {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 80px;
}

.blockContainer {
  display: inline-block;
  height: 100%;
}

.block {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  height: calc(100% - 2px);
}

.block.unconfirmed {
  background-color: brown;
}

.block.confirmed {
  background-color: #04490b;
}

.block div {
  padding: 5px;
  border-bottom: 1px solid white;
}

.block div:last-child {
  border: none;
}

.block .transactions {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.block .transactions .transactionList {
  padding: 0;
  border: none;
  flex: 1;
}

.block .blockDescription {
  padding: 0;
  width: 100%;
  text-align: right;
  color: black;
  font-size: 12px;
  bottom: 0;
}