@import "../../Utils/variables";

.upperList {
  display: inline-block;
  height: 40%;
  flex-grow: 1;
  padding: 10px;
  border-bottom: 1px solid $default-color;
  border-right: 1px solid $default-color;

  &:last-child {
    border-right: none;
  }
}

.upperList .upperListTitle {
  width: 100%;
  font-size: 27px;
  text-align: center;
  margin-bottom: 10px;
}

.upperList .listError {
  font-size: 30px;
  text-align: center;
  color: red;
}