@import "../../Utils/variables";

.upperListContainer {
  display: flex;
  flex-direction: column;
  height: calc(100% - 20px);
  flex: 1;
  min-width: 500px;
  padding: 10px 0;
  border-right: 1px solid $default-divider-border-color;

  &:last-child {
    border-right: none;
  }
}

.upperListContainer {
  position: relative;
}

.upperListContainer .addButtonContainer {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10px;
}

.addButtonContainer .addButton {
  background-color: green;
  border-radius: 2px;
  padding: 10px 50px;
  color: white;
  display: inline-block;
  cursor: pointer;
  user-select: none;

  transition: background-color 0.2s;

  &:hover {
    background-color: #009900;
  }
}

.upperListContainer .upperListTitle {
  width: 100%;
  font-size: 27px;
  text-align: center;
  margin-bottom: 10px;
}

.upperListContainer .listError {
  font-size: 30px;
  text-align: center;
  color: red;
}

.upperList {
  flex: 1;
  padding: 0 10px 40px;
  overflow: auto;
  overflow-x: hidden;
  text-align: center;
  min-height: 100px;
  transition: background-color 0.1s;
}

.upperList .listElement {
  text-align: left;
  margin-bottom: 10px;
}

.listElement .listTable {
  border: 1px solid $default-element-border-color;
  table-layout: fixed;
  border-collapse: collapse;
}

.listElement .listTable tr:first-child {
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.listElement .listTable td {
  padding: 10px 10px 3px;
  border-right: 1px solid $default-element-border-color;
}

.listElement .listTable .description td {
  padding-top: 1px;
  font-size: 12px;
  color: $list-description-color;
  padding-bottom: 5px;
}

.listElement .listTable .smallText {
  overflow-wrap: break-word;
  font-size: 13px;
}