@import "Utils/variables";

.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: $default-background-color;
  color: $default-color;
}

#upperContent {
  width: 100%;
  display: flex;
}