@import "Utils/variables";

.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: $default-background-color;
  color: $default-color;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #bdbdbd;

  &:hover {
    color: white;
  }

  transition: color 0.3s;
}

#upperContent {
  width: 100%;
  height: calc(45% - 1px);
  display: flex;
  border-bottom: 1px solid $default-divider-border-color;
  min-height: 300px;
}

#lowerContent {
  height: 50%;
  width: 100%;
  display: flex;
  min-height: 300px;
}

#logs {
  width: 0;
  overflow: auto;
  transition: width 0.2s, border 0.3s;
}

#logs.visible {
  width: 500px;
}

#footer {
  padding: 0 100px;
  background-color: $footer-background-color;
  height: 5%;
  min-height: 50px;
  display: flex;
  align-items:center;
  justify-content:space-between;
  border-top: 1px solid $default-divider-border-color;
}

#footer .logsToggle {
  text-align: center;
  width: 100px;
  cursor: pointer;
  user-select: none;
}

#footer .logsToggle span{
  font-weight: bold;
}